/* @@@@@@@@@@@@@@@@@@@@@@@ Navbar Style @@@@@@@@@@@@@@@@@@@@@@@ */

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  padding-top: 0; /* Elimina padding adicional en la navbar */
  margin-top: 0; /* Elimina márgenes adicionales */

  background-color: white;

  font-family: 'Anek Odia';
  font-weight: $font-weight-bold;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  transition: all 0.5s ease;
}

.navbar-shrunk {
  transform: translateY(-100px); /* Sube la navbar hacia arriba */
}

.no-border {
  border-top: none !important; /* Oculta la línea de border-top */
  transition: border-top 0.5s ease; /* Transición suave para la línea */
}

  /* ########################### Navbar row 1 (Up) ########################### */

    #edu {
      transition: all 0.3s ease; /* Transición suave para altura y opacidad */
    }

    #edu.edu-shrunk {
      opacity: 0; /* Desaparece visualmente */
      overflow: hidden; /* Oculta el contenido cuando se reduce */
    }

  /* ########################### Navbar row 2 (Down) ########################### */

    // ===================== Logo y Nombre =====================

    #aurlog.navbar-brand {
      margin-top: 0; /* Asegúrate de que no haya márgenes */
      margin-bottom: 0; /* Asegúrate de que no haya márgenes */
      padding-top: 0; /* Asegúrate de que no haya padding */
      padding-bottom: 0; /* Asegúrate de que no haya padding */

      display: flex;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      position: relative;
      left: 100px;
      bottom: 20px; 
      margin-bottom: -15px;

      transition: transform 0.3s ease;
    }

    #aurlog span {
      position: relative;
      bottom: 2px;

      font-family: 'Cinzel Decorative';
      font-size: 17px;
      font-weight: 600;
      color: #000E32;
      opacity: 0;

      transition: 0.6s;
      
    }

    #log:hover + #aur {
      opacity: 1;
    }

    // ===================== Botones =====================
    
    #nav {
      transition: border-top 0.3s ease;
    }
    
    #nav li > a {
      height: 40px;
      background-color: white;

      font-family: 'Josefin Sans';
      font-size: 18px;
      font-weight: 700;
      color: #000E32;

      transition: 0.4s;
    }

    #nav li > #bot:hover,
    #nav li > #bot.active-link {
      color: white;
      background-color: #000E32;
      border-radius: 5px;
    }
    

    // ===================== Dropdowns =====================

    @media (min-width: 992px) {
    
      .dropdown .dropdown-menu {
        width: 75% !important;
        height: 280px;
        left: 50% !important;
        transform: translateX(-50%) !important;
        right: auto !important;

        text-align: center; /* Para centrar el texto si lo deseas */
        min-width: 200px; /* Ancho mínimo */
        display: block;
        opacity: 0;

        transition: all 0.4s;
        transition-delay: 0s, 0s;
        pointer-events: none;

      }

      #droph.dropdown:hover .dropdown-menu {
        transform: translateY(100px);
        margin-top: 10px;

        opacity: 1;

        transition-delay: 0s, 0s;

        pointer-events: initial;
      }

    }

    #dropimg.dropdown-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
    }

    // ===================== Cuenta =====================

    #user.btn{
      position: relative;
      display: flex;
      align-items: center;

      width: 45px;
      height: 45px;
      right: 100px;
      top: 5px;
      border-radius: 80px;

      transition: all 0.6s;

      i {
        color: #000E32;
        display: flex;
        align-items: center;
        font-size: 30px;
      }
    }

    #user.btn:hover{
      
      background-color: #000E32;
      
      i {
        color: white;
      }
    }

  /* @@@@@@@@@@@@@@@@@ User Form Style @@@@@@@@@@@@@@@@@ */ 

  #uform {
    position: fixed;
    top: 190px;
    right: -330px;
    z-index: 1029;

    width: 350px;
    max-width: 90%; /* Asegúrate de que no exceda el ancho de la pantalla */

    height: 300px;
    margin: 0 auto; /* Centra el formulario horizontalmente */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
    
    background-color: white;
    border: 2px solid black;
    border-bottom-left-radius: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    
    font-family: 'Inria Sans';
    font-weight: 700;
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease; // Add right transition

    &.nac-size {
      height: 300px; // Altura para el menú principal 
    }

    &.ac-size {
      height: 450px; // Altura más grande para MainMenuAc
    }

    &.show {
      right: 0;
      opacity: 1;
      visibility: visible;
    }

    &.hide {
      right: -330px;
      opacity: 0;
      visibility: hidden;
    }
  
    &.form-shrunk {
      transform: translateY(-100px);
    }

    img{

      display: flex;
      justify-content: center;
      align-items: center;

      width: 80px;
      height: 80px;
    }

    .form-menu-label{

      white-space: normal; /* Permite que el texto se divida en varias líneas */
      word-wrap: break-word; /* Divide palabras largas si es necesario */
      text-align: center; /* Centra el texto dentro del label */

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 35px;
      font-weight: 700;

    }

    .form-ac-label{
      white-space: normal; /* Permite que el texto se divida en varias líneas */
      word-wrap: break-word; /* Divide palabras largas si es necesario */
      text-align: left; /* Centra el texto dentro del label */
      line-height: 1.0;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 22px;
      font-weight: 700;
    }

    .form-ac-sublabel {
      white-space: normal; /* Permite que el texto se divida en varias líneas */
      word-wrap: break-word; /* Divide palabras largas si es necesario */
      text-align: left; /* Centra el texto dentro del label */
      line-height: 1.0;

      display: flex;
      justify-content: left;
      align-items: left;

      font-size: 16px;
      font-weight: 700;

      &#est {
        color:grey;
      }

      &#act {
        color:#0047FF;
      }
    }
    
    
    // Label Icon

    i#labi {
      display: flex;
      justify-content: center; 
      align-items: center;
      text-align: center; /* Centra el texto dentro del label */

      font-size: 45px;
      font-weight: 700;
      color: #0047FF;
    }

    i#theme {
      &.bi-sun-fill {
        color: #FBE326; // Color amarillo para el sol
      }
      
      &.bi-moon-fill {
        color: #000E32; // Color oscuro para la luna
      }
    }

    i#cac{
      opacity: 0;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
      background: none;
      border: none;
      color: #0047FF;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      transition: all 0.3s ease;
      position: relative;
      cursor: pointer;
    
      .button-icon {
        width: 35px; // Ancho fijo para todos los íconos
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 30px;
        color: #0047FF;
        transition: all 0.3s ease;
        margin-right: 1rem;
        flex-shrink: 0;
      }
    
      .button-text {
        text-align: center;
        width: 185px; // Ancho fijo para todos los botones
        flex-grow: 0; // Quitar flex-grow para mantener el ancho fijo
        padding: 0.25rem 1rem;
        border: 0.5px solid #0047FF;
        border-radius: 50px;
        transition: all 0.3s ease;

        &#lbt {

          width: 145px;;
          padding: 0.25rem 1rem;
        }
      }

      .button-ac-text {
        font-size: 16px;
        font-weight: 500;
        color: black;
        text-align: left;
        width: 185px; // Ancho fijo para todos los botones
        flex-grow: 0; // Quitar flex-grow para mantener el ancho fijo
        padding: 0.25rem 1rem;
        border: 1px;
        border-radius: 50px;
        transition: all 0.3s ease;
      }

      .button-ac-icon {
        width: 0px; // Ancho fijo para todos los íconos
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 25px;
        color: #0047FF;
        transition: all 0.3s ease;
        margin-right: 2.1rem;
        flex-shrink: 0;
      }
    
      &:hover {
        .button-text {
          border: 1px solid white;
          background-color: #FBE326;
          color: white;
          
          &.bright {
            background-color: #FBE326;
            color: white;
          }

          &.dark {
            background-color: #000E32;
            color: white;
          }
        }
    
        .button-icon, .button-ac-icon {
          color: #FBE326;

          &.bi-brightness-high {
            color: #FBE326;
          }
          
          &.bi-moon {
            color: #000E32;
          }
        }

        
      }
    }

    #csbot.btn {
      margin-left: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;

      border-radius: 50px;
      border-color: #0047FF;

      font-size: 16px;
      font-weight: 700;
      color: #0047FF;

      transition: all 0.3s ease;

      &:hover {
        border-color: white;
        background-color: #FBE326;
        color: white;
      }
    }

    #atbot.btn {
      position: absolute;
      bottom: 5px;
      left: 5px;

      width: 45px;
      height: 45px;
      border-radius: 50px;

      font-size: 22px;

      color: #bb1b1b;
      background-color: white;
      border-color: #bb1b1b;
      transition: all 0.3s ease;

      &:hover {
        color: white;
        background-color: #bb1b1b;
      }
    }
  }