  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
.navbar {
    background-color: $white;
    font-family: 'Anek Odia';
    font-weight: $font-weight-bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
  
#nav li > a {
    font-family: 'Anek Odia';
    font-weight: 600;
    height: 40px;
    color: #000E32;
    background-color: white;
  }
  
  #nav li > a:hover {
      transition: 0.4s;
      color: white;
      background-color: #000E32;
      border-radius: 5px;
  }
  
  #aurlog span {
    font-family: 'Cinzel Decorative';
    font-weight: 600;
    color: #000E32;
    opacity: 0;
    transition: 0.5s ;
  }
  
  #aurlog span:hover {
    opacity: 1;
  }