@import 'variables';
@import 'bootstrap-custom';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  background-color: $background;
  padding-top: 55px; /* Adjust is to match your navbar height */
  position: relative;
  overflow-x: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  background-color: $primary;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}